.swiper-button-next,
.swiper-button-prev {
    color: #fa8400 !important;
    font-weight: bold;
}

.swiper-button-next {
    right: 24px !important;
}

.swiper-button-prev {
    left: 24px !important;
}
